@tailwind base;
@tailwind components;
@tailwind utilities;

.grid {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: inline-flex;
  background: white;
}

.cell-start {
  background-color: rgb(128, 255, 128);
}

.cell-end {
  background-color: rgb(255, 77, 77);
}

.cell-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 10%;
  }

  50% {
    background-color: rgb(248, 250, 121);
  }

  75% {
    transform: scale(1.1);
    background-color: rgb(248, 250, 121);
  }

  100% {
    transform: scale(1);
    background-color: rgb(248, 250, 121);
  }
}

.cell-wall {
  background-color: rgb(43, 47, 49);
}

.cell-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(85, 91, 250);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(85, 91, 250);
  }

  100% {
    transform: scale(1);
    background-color: rgb(85, 91, 250);
  }
}