.square {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: inline-flex;
    background: white;
}

.square-start {
    background-color: green;
}

.square-end {
    background-color: red;
}